*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

a, a:visited {
	color:#ffffff;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}

.line{
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background-color: #ffffff
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
}

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
	color: brown;
}


#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#213E4A;
	margin:3em 0;
	padding:20px;
}

figure{
	border:3px solid #142830;
	float:right;
	height:245px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

figure img{
	margin-left:-60px;
}


article {
    background-color: #1d718c;
    margin: 3em 0;
    padding: 20px;
}
body {
    font-size: 0.825em;
    color: #fcfcfc;
    background-color: #0a495d;
    font-family: Arial, Helvetica, sans-serif;
}
nav, article, nav ul li a, figure {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
}


footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
#email{
	padding-left:6px;
	margin-left:1em;
}
#password{
	padding-left:6px;
	margin-left:2.5em;

}
#submit{
	padding-left:10px;
	margin-left:10em;
}
